*{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
$br: 10px;
$pd:10px;
$gp:10px;
$df:flex;
$fz:20px;
$nn:none;
$b: blue;
header{
    background-color: #D4E7FE;
    width: 100%;
    display: flex;
    max-width: 1200px;
    align-items: center;
    height: 70px;
    margin: auto;
    .logo{
        display: flex;align-items: center;
        gap: 10px;
        margin-right: 90px;
    }
    nav{
        text-align: start;
        display: flex;
        font-size: 20px;
        gap: 40px;
        margin-right: 370px;
    }
    fieldset{
        display: flex;
        align-items: center;
        gap: 10px;
        border: none;
        input{
            border: none;
            padding: 6px;
            outline: none;
            border-bottom: 1px solid gray;
            background-color: #D4E7FE;
        }
    }
}
section {
    display: flex;
    width: 90%;
    height: 80vh;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 50px;
    background-color: rgb(60, 163, 163);
    p{
        font-size: $fz;
    }
}
.all{
    background-color: #D4E7FE;
    width: 100%;
}
.sc1{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    background-color: #D4E7FE;
    display: flex;
    margin-top: 20px;
    .left{
        width: 50%;
        align-content: center;
        .b1{
            padding: 8px 8px;
            background-color: #a0c4f1;
            color: blue;
            border: none;
            border-radius: 10px;
        }
        h1{
            font-size: 60px;
        }
        p{
            font-size: 30px;
        }
        .b2{
            margin-top: 20px;
            padding: $pd;
            font-size: $fz;
            border-radius: $br;
            border: $nn;
            background-color: #217BF4;
            color: white;
        }
        .b3{
            background-color: transparent;
            border: 1px solid #217BF4;
            color: #217BF4;
        }
    }
    .right{
        width: 50%;
    }
    .right img{
            width: 100%;
    }
}
.sc2{
    background-color: transparent;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    h1{
        font-size: 50px;
    }
    .im1{
        margin-left: 80px;
        margin-right: 20px;
    }
    .left{
        width: 40%;
        align-content: center;
        .dv{
            margin-top: 30px;
            input{
                display: block;
            }
            label{
                display: inline-block;
            }
        }
        .dvv{
            display: flex;
            align-items: center;
            gap: $br;
        }
    }
    
    .right{
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.sc3{
    background-color: transparent;
    max-width: 1200px;
    margin: auto;
    height: 45vh;
    .card{
        width: 28%;
        padding: 30px;
        height:28vh;
        margin-right: 10px;
        box-shadow: 0px 0px 21px -1px rgba(34, 60, 80, 0.35);
        .st{
            align-items: center;
            display: flex;
            gap:$gp;
        }
        .cn{
            margin-left: -20px;
            align-items: center;
            display: flex;
            gap:$gp;
        }
        .b{
            color: $b;
        }
        span{
            font-size: 20px;
            margin-top: -8px;
        }
        .en{
            margin-top: 20px;
            display: flex;
            align-items: center;
            gap: 20px;
        }
        .cnn{
            margin-left: -15px;
        }
        .cn1{
            margin-left: 0;
            font-size: 19px;
        }
    }
    .crd{
        height: 35vh;
        background-color: transparent;
        box-shadow: transparent;
    }
    .crdd{
        display: flex;align-items: center;
        justify-content: space-between;
    }
    .ot{
        margin-top: -55px;
        width: 28%;
        padding: 30px;
        height: 30vh;
        .st{
            h2{
                margin-bottom: 10px;
            }
        }
        h1,p{
            margin-bottom: 5px;
        }
        h1{
            font-size: 37px;
        }
         .b4{
            gap: $gp;
            padding: 10px;
            background-color: #217BF4;
            color: white;
            border: $nn;
            border-radius: $gp;
            display: flex;align-items: center;
        }
    }
}
.sc4{
    padding: 40px 0px;
    background-color: transparent;
    display: block;
    max-width: 1200px;
    margin: auto;
    height: 95vh;
    .bb{
        color: #217BF4;
    }
    .boxs{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        margin-bottom: -30px;
        .lef{
            display: flex;align-items: center;
            width: 44%;
            padding: 25px;
            height: 12vh;
            border-radius: 20px;
            box-shadow: 0px 0px 21px -1px rgba(34, 60, 80, 0.35);
            h1{
                margin-bottom: 15px;
            }
        }
        .rig{
              display: flex;align-items: center;
            width: 44%;
            padding: 25px;
            height: 12vh;
            border-radius: 20px;
            box-shadow: 0px 0px 21px -1px rgba(34, 60, 80, 0.35);
            h1{
                margin-bottom: 15px;
            }
        }
    }
}
.tx{
    text-align: center;
    h1{
        margin-bottom: 10px;
    }
}
.bc{
    color: $b;
}
.sc5{
    padding: 40px 0px;
    background-color: transparent;
    max-width: 1200px;
    margin: auto;
    display: block;
    .sc5-tabs {
    margin-bottom: 27px;
    width: 300px;
    background: #e9edf5;
    padding: 6px;
    border-radius: 14px;
    gap: 6px;
    margin-left: 35%;
    margin-top: 30px;
}

.sc5-tabs button {
  border: none;
  background: transparent;
  padding: 10px 28px;
  font-size: 14px;
  font-weight: 500;
  color: #6b7280;
  border-radius: 10px;
}
.sc5-tabs button.active {
  background-color: #217BF4;
  color: #fff;
}

.c{
  width:222px;
  padding:20px;
  text-align:center;
  background:#fff;
  border-radius:12px;
  display:inline-block;
  margin:10px;
   box-shadow: 0px 0px 21px -1px rgba(34, 60, 80, 0.35);
}

.os{
  width: 180px;
  margin-left: 20px;
  border-radius: 50%;
  height: 180px;
  border: 5px dashed orange;
}
.os img{
    width: 100%;
}
.oss img{
    margin-left: -18px;
    margin-top: -7px;
    width: 120%;
}
.c h4{
  margin:15px 0 5px;
}

.c p{
  margin:0;
  color:#777;
  font-size:14px;
}
}
.sc6{
    height: 60vh;
    padding: 0px 0px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    max-width: 1200px;
    margin: auto;
    .lf{
        font-size: 28px;
        align-content: center;
        width: 40%;
        height: 60vh;
    }
    .rg{
        text-align: end;
        width: 50%;
        height: 60vh;
    }
    .rg img{
        width: 100%;
    }
    .cv{
        margin-left: -20px;
        display: flex;
        align-items: center;
    }
}
.section7 {
    background-color: transparent;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.section7 a {
  display: flex;
}

.section7 img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
}

.section7 h3 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
}

.section7 a {
  font-size: 14px;
  text-decoration: none;
  color: #4a90e2;
}

.section7 a:hover {
  text-decoration: underline;
}
.footer {
  background: #2d2e40;
  color: #fff;
  padding-top: 60px;
  font-family: sans-serif;
}

.footer-top {
    background-color: transparent;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 60px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  height: 15vh;
  margin-bottom: -90px;
}

.col h4 {
  margin-bottom: 20px;
  font-size: 16px;
}

.col a {
  display: block;
  margin-bottom: 12px;
  font-size: 14px;
  color: #bfbfd2;
  text-decoration: none;
}

.col a:hover {
  color: #fff;
}

.subscribe p {
  font-size: 14px;
  color: #bfbfd2;
  margin-bottom: 20px;
}

.subscribe form {
  display: flex;
  background: #3a3b55;
  border-radius: 6px;
  overflow: hidden;
}

.subscribe input {
  flex: 1;
  padding: 10px;
  border: none;
  background: transparent;
  color: #fff;
}

.subscribe button {
  padding: 10px 18px;
  border: none;
  background: #fff;
  color: #2d2e40;
  cursor: pointer;
}

.footer-bottom {
    background-color: transparent;
    height: 10vh;
  border-top: 1px solid #1f2030;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
  margin: 0px;
}

.socials a {
  margin-left: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
