*{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@mixin section {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    background-color: aqua;
}
header{
    width: 90%;
    display: flex;
    max-width: 1200px;
    align-items: center;
    height: 70px;
    margin: auto;
    .logo{
        display: flex;align-items: center;
        gap: 10px;
        margin-right: 90px;
    }
    nav{
        text-align: start;
        display: flex;
        font-size: 20px;
        gap: 40px;
        margin-right: 370px;
    }
    fieldset{
        display: flex;
        align-items: center;
        gap: 10px;
        border: none;
        input{
            border: none;
            padding: 6px;
            outline: none;
            border-bottom: 1px solid gray;
        }
    }
}